.edit-card {

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;

    .card-edit {
      width: 320*$rem;

      .card__button-row {
        justify-content: space-between;
        flex-flow: row;
      }
    }
  }
}