.home {
  &__head-row {
    display: flex;
    padding-left: 5*$rem;
    padding-right: 5*$rem;
    margin-bottom: 20*$rem;
  }

  &__layout-buttons {
    @media(min-width: 481px) {
      display: flex;

      button {
        cursor: pointer;

        &:last-child {
          margin-left: 10px;
        }
      }
    }

    display: none;
  }

  // redefinition styles
  .sort-btn {
    margin-right: auto;
  }
}
