.card-list {

  &__cards-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__element {
    @include equal-flex-element-in-a-row(4);
    display: flex;
    min-height: 250px;

    @media(max-width: 1290px) {
      @include equal-flex-element-in-a-row(3);
    }

    @media(max-width: 800px) {
      @include equal-flex-element-in-a-row(2);
    }

    @media(max-width: 480px) {
      @include equal-flex-element-in-a-row(1);
    }

    &:first-child {
      align-items: center;
      justify-content: center;
    }

    margin-bottom: 10px;
  }
}