.first-view-modal {
  $width: 400px;
  @extend %main-modal-styles;
  @include modal-positioning($width);
  background-color: $modal-first-load-background-color;
  color: $modal-first-load-text-color;
  font-weight: bold;



  &__media {
    width: 400px;
    height: 300px;
    padding: 15*$rem;
    img {
      width: 100%;
      height: auto;
    }
  }

  footer {
    text-align: center;
    padding: 5*$rem 15*$rem 15*$rem 15*$rem;

    h2 {
      margin: 0;
      text-transform: uppercase;
    }

    p {
      line-height: 1.2;
    }
  }
}