.container-header {
  @extend %convex-lower-shadow;

  display: flex;
  align-items: center;
  background-color: $container-header;
  padding: 15*$rem 40*$rem;

  &__element {
    &:first-child {
      margin-right: auto;
    }
  }
}