.add-card-btn {
  cursor: pointer;

  .icon-plus {
    @include icon-plus($add-card-btn-color);

    &:hover {
      @include icon-plus($add-card-btn-color-hover);
      transition: all .3s;
    }

    width: 40*$rem;
    height: 40*$rem;
  }
}