.add-card-btn {
  cursor: pointer;

  .icon-plus {
    @include icon-plus($pure-white);

    &:hover {
      @include icon-plus($blood-red);
      transition: all .3s;
    }

    width: 40*$rem;
    height: 40*$rem;
  }
}