.card {
  display: flex;
  flex-direction: column;
  background-color: $card-background-color;
  width: 100%;
  padding: 10px;

  &__content {
    flex: 1 0 auto;
  }

  h2 {
    margin: 0;
    color: $card-title-color;
  }

  p {
    color: $card-text-color;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;

    .edit-btn {
      @include edit-icon($card-edit-btn-color);

      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    .like-btn {
      @include icon-like($card-like-btn-color);

      &--active {
        @include icon-like-full-background($red);
      }

      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}