.card-button-add {
  width: 100%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $card-background-color;
  border: 2px dashed $add-card-btn-border-color;
}