.card {
  display: flex;
  flex-direction: column;
  background-color: $card-background-color;
  width: 100%;
  padding: 10px;

  &__content {
    flex: 1 0 auto;

    &--form {
      display: flex;
      flex-flow: column;
      padding: 10px;
      align-items: center;

      input {
        width: 100%;
        margin-bottom: 10px;
        height: 40px;
      }

      div {
        width: 100%;
        display: flex;
        flex-flow: column;

        textarea {
          resize: none;
          height: 150px;
        }

        span {
          margin-top: 2*$rem;
          margin-bottom: 15*$rem;
          color: $textarea-counter-color;
        }
      }

      button {
        @include reusable-button(#fff,$orange);
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  h2 {
    margin: 0;
    color: $card-title-color;
  }

  p {
    color: $card-text-color;
  }

  &__button-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
  }
}