// notification parent
.notification-service {
  transition: all 1s ease 0s;
  background-color: transparent;
  position: absolute;
  top: 70px;
  right: 10%;
  padding: 0;
  margin: 0;
  list-style: none;
}


// notification block
.notification {
  transition: all 1s ease 0s;
  padding: 15*$rem 30*$rem;
  margin-bottom: 5*$rem;
  background: rgba(255, 175, 180, 0.9);
  border-color: rgba(255, 175, 180, 0.9);
  border-radius: 3px;

  p {
    margin: 0;
    color: #000;
    font-size: 13*$rem;
  }

  &__err-num {
    margin-right: 5px;
    font-weight: bold;
    font-size: 12*$rem;
  }
}
