.card {
  display: flex;
  flex-direction: column;
  background-color: $card-background-color;
  width: 100%;
  padding: 10px;

  &__content {
    flex: 1 0 auto;

    h2 {
      margin: 0 0 5px 0;
      color: $card-title-color;
    }

    p {
      color: #939393;
      margin: 0 0 20px 0;
      font-size: 13px;

      &:last-child {
        color: $card-text-color;
        font-size: 1rem;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
  }
}
