.-margin {
  &-auto {
    &-left {
      margin-left: auto;
    }

    &-right {
      margin-right: auto;
    }
  }

  &-bottom {
    &-l {
      margin-bottom: 20*$rem;
    }

    &-xl {
      margin-bottom: 30*$rem;
    }
  }

  &-block-center {
    margin: 0 auto;
  }
}

.disabled-button {
  background-color: #8080803d !important;
  cursor: not-allowed !important;
}