.-margin {
  &-auto {
    &-left {
      margin-left: auto;
    }

    &-right {
      margin-right: auto;
    }
  }

  &-bottom {
    &-l {
      margin-bottom: 20*$rem;
    }
  }

  &-block-center {
    margin: 0 auto;
  }
}