@mixin equal-flex-element-in-a-row($num-of-elements) {
  flex-basis: calc((100% / #{$num-of-elements}));
  max-width: calc((100% / #{$num-of-elements}));
  word-break: break-all;
  padding-left: 5px;
  padding-right: 5px;
}

@mixin reusable-button($background-color, $text-color) {
  cursor: pointer;
  width: 100px;
  padding: .2em .4em;
  border-radius: 3*$rem;
  border: 1px solid rgba(0, 0, 0, .1);
  background: #{$background-color} linear-gradient(hsla(0, 0%, 100%, .2), transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
  color: $text-color;
  text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
  font-size: 125%;
  line-height: 1.5;
}

@mixin modal-positioning($modal-width) {
  z-index: 1000;
  position: absolute;
  width: $modal-width;
  top: calc(12%);
  left: calc(50% - (#{$modal-width / 2}));
  margin: 0;
}