// служит для отображения flex элементов с одинаковой шириной
// в каждом ряду, при том что каждый(в ряду) элемент кроме,
// каждого(в ряду) №N последнего, отступа справа не имеет

// из за того, что каждый последний элемент(n) не имеет отступа,
// оставишеся $margin-right делим между количеством элементов которые
// будут у нас в строке, чтобы получить одинаковую длину
// каждого flex элемента
@mixin equal-flex-element-in-a-row($num-of-elements) {
  flex-basis: calc((100% / #{$num-of-elements}));
  max-width: calc((100% / #{$num-of-elements}));
  word-break: break-all;
  padding-left: 5px;
  padding-right: 5px;
}

@mixin reusable-button($background-color, $text-color) {
  cursor: pointer;
  width: 100px;
  padding: .2em .4em;
  border-radius: 3*$rem;
  border: 1px solid rgba(0,0,0,.1);
  background: #{$background-color} linear-gradient(hsla(0,0%,100%,.2), transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  color: $text-color;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  font-size: 125%;
  line-height: 1.5;
}