%page-title {
  text-align: center;
  margin-bottom: 30px;
}

%main-modal-styles {
  border-radius: 3px;
}

%convex-lower-shadow { // выпуклая тень
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);
}