$rem: 0.0625rem;

// font options
$line-height: 1;

// palette
$pure-black: #000;
$pure-white: #FFF;
$charcoal: #0e0e0e;
$grey: lighten($pure-black, 40%);
$blood-red: #a60716;
$orange: #cc7832;
$green: #5c7e58;
$violet: #9376aa;
$yellow: #e8bf6a;
$red: #f77669;
$storm-grey: #b6afa4;
$storm-background: #3c3f41;

// colors for ...
$body-background: $grey;
$main-text-color: $pure-white;
$container-header: $blood-red;

// card colors
$card-background-color: $charcoal;
$card-title-color: $orange;
$card-text-color: $green;
$card-edit-btn-color: $yellow;
$card-like-btn-color: $red;
$add-card-btn-border-color: $yellow;
$add-card-btn-color: $pure-black;
$add-card-btn-color-hover: $yellow;
$textarea-counter-color: $green;

// modal colors
$modal-first-load-background-color: $violet;
$modal-first-load-text-color: $pure-black;
$modal-first-load-button-color: $pure-white;