$rem: 0.0625rem;

// font options
$line-height: 1;

// palette
$pure-black: #000;
$pure-white: #FFF;
$grey: #0e0e0e;

// colors for ...
$body-background: $pure-black;
$main-text-color: $pure-white;
$card-color: $grey;