* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-width: 320*$rem;
  min-height: 100%;
  height: auto;
  line-height: $line-height;
  background-color: $body-background;
  font-family: Helvetica, Arial, sans-serif;
  color: $main-text-color;
  overflow-x: hidden;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

// to smooth animation jump between pages
.page {
  position: absolute;
  width: 100%;
  height: inherit;
}

.page-fixed {
  position: fixed;
  width: 100%;
  height: inherit;
}